.searchbox {
    max-width: 240px;
    width: 100%;
    display: flex;
    column-gap: 10px;
    align-items: center;
    border-radius: 20px;
    background-color: #2d2e37;
    padding: 5px 10px;
}
.inputsearch {
    width: 100%;
    background-color: #2d2e37;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fcfeff;
}
.iconsearch {
    font-size: 400;
    color: #fff;
}