.poster_movie {
    position: relative;
    width: 100%;
    height: auto;
}
.poster_movie img {
    width: 100%;
    height: auto;
}
.title_movie {
    position: absolute;
    font-size: 32px;
    font-weight: 300;
    color: #fcfeff;
    width: 250px;
    top: 70px;
    left: 20px;
}
.desc {
    font-size: 15px;
    color:#ffb43a;
    position: absolute;
    top: 160px;
    left: 20px;
}
.movie_type {
    width: 300px;
    position: absolute;
    top: 210px;
    left: 20px;
    color: #fcfeff;
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.play_btn {
    bottom: 20px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    border-radius: 50%;
    background-color:#ffb43a ;
    color: #fcfeff;
    align-items: center;
    display: flex;
    justify-content: center;
}
.play_btn:hover {
    background-color:hsl(37, 94%, 57%) ;
}
@media screen and (max-width : 426px){
    .poster_movie{
        width: 100%;
    }
    .poster_movie img {
        width: 100%;
        min-height: 300px;
    }
}
@media screen and (max-width : 769px) {
    .poster_movie{
        width: 100%;

    }
    .poster_movie img {
        width: 100%;
        min-height: 300px;
    }
}