body {
    background-color:#1E1E2A;
}
.header{
    background-color: antiquewhite;
    height: 50px;
}
.aside{
    display: flex;
}

.content{
    flex: 1;
    /* max-width: 1300px; */
    max-width: 1060px;
    margin: auto;
    width: 100%;
}
.main_content {
    margin: auto;
    width: 100%;
}
@media screen and (max-width : 426px) {
    .content {
        width: 100%;
    }
    /* .main_content {
        max-width: 425px;
    } */
}
@media screen and (max-width : 769px) {
    .content {
        width: 100%;
    }
    /* .main_content {
        max-width: 425px;
    } */
}



